{% extends 'baseAdmin.html.twig' %}

{% block title %}New Normale{% endblock %}

{% block body %}
    <h1>Create new Normale</h1>

    {{ include('normale/_form.html.twig') }}

    <a href="{{ path('app_normale_index') }}">back to list</a>
{% endblock %}
