{% extends 'base.html.twig' %}

{% block title %}New Ultime{% endblock %}

{% block body %}
    <h1>Create new Ultime</h1>

    {{ include('ultime/_form.html.twig') }}

    <a href="{{ path('app_ultime_index') }}">back to list</a>
{% endblock %}
