{% extends 'baseAdmin.html.twig' %}

{% block title %}New Personnage{% endblock %}

{% block body %}
    <h1>Create new Personnage</h1>

    {{ include('personnage/_form.html.twig') }}

    <div class="anti_footer"><a href="{{ path('app_personnage_index') }}">back to list</a><div>

    <style>
    .anti_footer{
        margin-bottom: 20%;
    }
    </style>
{% endblock %}
