<!doctype html>
<html lang="fr">
	<head>
		<title>
			{% block title %}
				Titre
			{% endblock %}
		</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS v5.2.1 -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

		<style>
			@import url('https://fonts.googleapis.com/css2?family=Roboto:ital, wght@0, 700;1, 700 &display=swap');
			body {
				font-family: 'Roboto', sans-serif;
			}
		</style>

		<body>

			<header class="d-flex justify-content-center py-3 bg-dark">
				<ul class="nav nav-pills">
					<li class="nav-item ">
						<a href="{{ path("index") }}" class="nav-link {% if app.request.get('_route') == 'app_voie_index' %} active{% endif %}">Index</a>
					</li>
					<li class="nav-item ">
						<a href="{{ path("app_personnage_index") }}" class="nav-link {% if app.request.get('_route') == 'app_voie_index' %} active{% endif %}">Personnage</a>
					</li>
					<li class="nav-item ">
						<a href="{{ path("app_voie_index") }}" class="nav-link {% if app.request.get('_route') == 'app_voie_index' %} active{% endif %}">Voie</a>
					</li>
					<li class="nav-item ">
						<a href="{{ path("app_attribut_index") }}" class="nav-link {% if app.request.get('_route') == 'app_voie_index' %} active{% endif %}">Attribut</a>
					</li>


				</ul>

			</ul>
		</body>
	</head>
</html></header><main>
<div class="container"> {% block body %}{% endblock %}
	</div>

</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top bg-dark" style=";">
	<div class="col-md-4 d-flex align-items-center">
		<a href="/" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
			<svg class="bi" width="30" height="24">
				<use xlink:href="#bootstrap"></use>
			</svg>
		</a>
		<span class="mb-3 mb-md-0 text-white">© 2022 Company, Inc</span>
	</div>

	<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
		<li class="ms-3">
			<a class="text-white" href="#">
				<svg class="bi" width="24" height="24">
					<use xlink:href="#twitter"></use>
				</svg>
			</a>
		</li>
		<li class="ms-3">
			<a class="text-white" href="#">
				<svg class="bi" width="24" height="24">
					<use xlink:href="#instagram"></use>
				</svg>
			</a>
		</li>
		<li class="ms-3">
			<a class="text-white " href="#">
				<svg class="bi" width="24" height="24">
					<use xlink:href="#facebook"></use>
				</svg>
			</a>
		</li>
	</ul>
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script></body></html>
