{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}
{% block vid %}"../../images/vid/silver-wolf-honkai.mp4"
{% endblock %}
{% block body %}

	<style>

		.titreArticle {
			font-family: 'SpyAgency';
			font-weight: 400;
			font-size: 3em;
			color: #FFFFFF;
			-webkit-text-stroke: 3px #6800ff;
		}

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 1.5em auto 0;
			text-align: center;
			background: #000000d6;
			border-radius: 20px;
			color: white;

		}
		/* Ajoutez ici les styles CSS spécifiques à cette page si nécessaire */
		.container video {
			scale: 1.2;
			right: 0;
			margin-left: 5em;
		}
		.container a {
			text-decoration: none !important;
			color: white;
			width: 80%;

		}

		.news-content {
			display: flex;
			margin-top: 2em;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex-wrap: wrap;
			width: 100%;
		}

		.news {
			background: #00000060;
			border-radius: 20px;
			width: 99%;
			align-items: center;
			display: flex;
			align-content: flex-start;
			margin-bottom: 20px;
			background-color: #1c1b2394;
		}


		.news img {
			width: 200px;
			border-radius: 10px;
			aspect-ratio: 16 / 9;
            object-fit: cover;
		}
		.pagination {
			gap: 1em;
			background-color: #1c1b2394;
			margin: 0.5em;
			border-radius: 10px;

		}
		.pagination span:hover {
			background-color: #6800ff;
			border-radius: 15px;
			font-size: 1.3em;
			transition-duration: 0.5s;
		}
	</style>

	<h1 class='titreArticle'>Article Disponible</h1>
	<div class="news-content">
		{% for article in pagination %}
			<a href="{{ path('public_article_show', {'id': article.id}) }}">
				<div class="news">
					<div>
						<img src="../../images/articles/{{ article.image }}">
					</div>
					<h4>{{ article.titre }}</h4>
				</div>
			</a>
		{% else %}
			<p>No records found</p>
		{% endfor %}
	</div>

	<div class="pagination">
		{{ knp_pagination_render(pagination) }}
	</div>

</div>{% endblock %}
