<ul class="nav nav-pills FilterBar">
	{% for attribut in attributs %}
		<li class="nav-item FilterButton">
			<div class="attributs ">
				Attribut-
			</div>
		</li>
	{% endfor %}
	{% for voie in voies %}
		<li class="voies FilterButton">
			<div>
				voie-
			</div>
		</li>
	{% endfor %}
</ul>
