{% extends 'base.html.twig' %}

{% block title %}Hello PomPomController!
{% endblock %}

{% block body %}
	{# <img src="../images/img/space-stars-background-92uihsmmvz4ne320.webp" alt="" srcset=""> #}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}


		.div1 h1 {
			/* Pom-Pom Express */

			position: absolute;
			font-family: 'SpyAgency';
			font-style: italic;
            font-stretch: semi-expanded;
			font-weight: 400;
			font-size: 175px;
			line-height: 152px;
			color: #FFFFFF;
			margin-top: 12%;
			margin-left: calc(6% + 15px);
            -webkit-text-stroke: 5px black;
            text-shadow: -12px 10px #ffc107;


		}
	</style>
	<div class="parent">
		<div class="div1">
			<h1>POM-POM EXPRESS<h1></div>
			</div>

		{% endblock %}
