<div class="flex-container" style="width:100%;">
	{% for personnage in personnages %}
		<div class="charaFrame">
			{% set nomPersonnage = personnage.nom %}
			<div class="charaImage">
				{% set imagePath = asset('images/perso/fullnoBg/Character_Portrait_' ~ nomPersonnage ~ '.png') %}
			</div>
			<img style="width:155px ; object-fit: cover; aspect-ratio: 1 / 1" src="..{{imagePath}}" alt="personnage : {{ personnage.nom }}">
			<div>
				<div class="charaName">
					{{ personnage.nom }}
				</div>
			</div>
		</div>
	{% else %}
		<div>
			<td colspan="4">C'est un peu vide ici non? [Database error?]</td>
		</div>

	{% endfor %}
	<style>
		.charaFrame {
			display: inline-block !important;
			width: 15%;
			height: 30%;
		}
		.charaImage {
			overflow: hidden;
			height: 70%;
		}
		.charaName {
			width: 100%;
			height: 30%;
		}
	</style>
